<div class="main posts posts-new">
    <%= form_tag("/posts/create") do %>
     <textarea name="content"></textarea>
     <div>
       <input type="submit" value="投稿">
     </div>
    <% end %>
  <div class="container">
       <% @posts.each do |post| %>
        <% @user = User.find_by(id: post.user_id) %>
         <% if @user == nil %>
          <% next %>
         <% else %>
        <div class="post-container">
         <div class="icon">
           <% if @user.image_name == nil %>
             <img src="/defult.jpg">
           <% else %>
            <img src="<%= "/user_images/#{@user.image_name}" %>">
           <% end %>
          </div>
          <div class="user-name">
           <%= @user.name %>
         </div>
         <div class="date">
           <%= post.created_at %>
         </div>

          <div class="post-content">
            <%= simple_format(post.content) %>
          </div>

        </div>
        <% end %>
       <% end %>
     </div>
     <div class="more-posts">
       <a href="#">More</a>
     </div>
</div>
